// Fonts
$primary-font: 'Open Sans', Arial, sans-serif;
$headline-font: 'Anton', Arial, sans-serif;

// Colors
$primary-color--light: #ffffee;
$primary-color: #3A425A;
$primary-color--dark: #ab9797;

$secondary-color--light: #4f5c75;
$secondary-color: #253349;
$secondary-color--dark: #000c21;


$base-color--blue: #007bff;
$base-color--purple:#6f42c1;
$base-color--pink:#e83e8c;
$base-color--red: #dc3545;
$base-color--orange: #fd7e14;
$base-color--yellow: #ffc107;
$base-color--green: #28a745;
$base-color--teal:#20c997;
$base-color--cyan:#17a2b8;

$base-color--white:#fff;
$base-color--black:#111;
$base-color--light:#f8f9fa;
$base-color--dark:#333;
$base-color--gray:#868e96;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;